@model TicketingTool.Models.Project

<h2>Project Details: @Model.ProjectName</h2>

<h3>Components</h3>
<ul>
    @foreach (var component in Model.Components)
    {
        <li>@component.ComponentName</li>
    }
</ul>

@if (Model.UserRoles.Any(ur => ur.RoleId == "MANAGER" || ur.RoleId == "ADMIN"))
{
    <h3>Assignees</h3>

    <h4>Project Managers</h4>
    <ul>
        @foreach (var manager in Model.UserRoles.Where(ur => ur.RoleId == "MANAGER"))
        {
            <li>@manager.UserNameRef.UserName</li>
        }
    </ul>

    <h4>Normal Users</h4>
    <ul>
        @foreach (var user in Model.UserRoles.Where(ur => ur.RoleId == "USER"))
        {
            <li>@user.UserNameRef.UserName</li>
        }
    </ul>
}
else
{
    <p>You do not have permission to view the list of assignees.</p>
}
