@model TicketingTool.Models.Ticket

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Browse" asp-action="Edit" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            
            <div class="form-group">
                <label asp-for="IssueKey" class="control-label"></label>
                <input asp-for="IssueKey" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ProjectID" class="control-label"></label>
                <input asp-for="ProjectID" class="form-control" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ComponentRef.ComponentName" class="control-label"></label>
                <select asp-for="ComponentID" class="form-control" asp-items="ViewBag.Component"></select>
                <span asp-validation-for="ComponentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Creator</label>
                <input asp-for="CreatorID" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="StatusRef.StatusName" class="control-label"></label>
                <select asp-for="StatusID" class="form-control" asp-items="ViewBag.Status"></select>
                <span asp-validation-for="StatusID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Assignee</label>
                <input asp-for="AssigneeID" class="form-control" />
                <span asp-validation-for="AssigneeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="ResolvedDate" class="control-label"></label>
                <input asp-for="ResolvedDate" class="form-control" readonly />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
